<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lguplus.drivinglog">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MainActivity">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArfK4Vgk0qfdCmXqRb56wd4gTp2RtzSv4" />

        <service
            android:name="com.lguplus.drivinglog.LocationService"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.lguplus.drivinglog.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lguplus.drivinglog.MainActivity"
            tools:ignore="Instantiatable" />

        <activity android:name="com.lguplus.drivinglog.StatsActivity"
            tools:ignore="Instantiatable" />

        <activity android:name="com.lguplus.drivinglog.TotalCarsStatsActivity"
            tools:ignore="Instantiatable" />

        <activity android:name="com.lguplus.drivinglog.NumberActivity"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lguplus.drivinglog"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


    </application>



</manifest>